
		.bee-row,
		.bee-row-content {
			position: relative
		}

		.bee-row-1 .bee-col-2 .bee-block-1,
		.bee-row-8 .bee-col-1 .bee-block-3 {
			font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
			font-weight: 400
		}

		.bee-menu .bee-hamburger-controls span,
		.bee-row-1,
		.bee-row-2,
		.bee-row-3,
		.bee-row-4,
		.bee-row-5,
		.bee-row-6,
		.bee-row-7,
		.bee-row-8,
		.bee-row-9,
		.bee-row-9 .bee-row-content {
			background-repeat: no-repeat
		}

		body {
			background-color: #ffffff;
			color: #000000;
			font-family: Roboto, Tahoma, Verdana, Segoe, sans-serif
		}

		a {
			color: #0355cc
		}

		* {
			box-sizing: border-box
		}

		body,
		h1,
		p {
			margin: 0
		}

		.bee-menu .bee-hamburger-trigger {
			display: none
		}

		.bee-row-content {
			max-width: 1440px;
			margin: 0 auto;
			display: flex
		}

		.bee-row-content .bee-col-w3 {
			flex-basis: 25%
		}

		.bee-row-content .bee-col-w9 {
			flex-basis: 75%
		}

		.bee-row-content .bee-col-w12 {
			flex-basis: 100%
		}

		.bee-menu ul li a {
			text-decoration: none
		}

		.bee-divider,
		.bee-image {
			overflow: auto
		}

		.bee-divider .center,
		.bee-image .bee-center {
			margin: 0 auto
		}

		.bee-row-1 .bee-col-1 .bee-block-1,
		.bee-row-3 .bee-col-1 .bee-block-2,
		.bee-row-4 .bee-col-1 .bee-block-3,
		.bee-row-5 .bee-col-1 .bee-block-3 {
			width: 100%
		}

		.bee-image img {
			display: block;
			width: 100%
		}

		.bee-menu .bee-hamburger-controls {
			cursor: pointer;
			display: inline-block;
			position: relative
		}

		.bee-menu .bee-hamburger-controls span {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			background-size: 100%;
			transition: .12s ease-in-out
		}

		.bee-menu ul {
			list-style-type: none;
			margin: 0;
			padding: 0
		}

		.bee-menu ul.bee-horizontal li {
			display: inline-block
		}

		.bee-paragraph {
			overflow-wrap: anywhere
		}

		.bee-social .icon img {
			max-height: 32px
		}

		.bee-row-1 .bee-row-content,
		.bee-row-2 .bee-row-content,
		.bee-row-3 .bee-row-content,
		.bee-row-4 .bee-row-content,
		.bee-row-5 .bee-row-content,
		.bee-row-6 .bee-row-content,
		.bee-row-7 .bee-row-content,
		.bee-row-8 .bee-row-content {
			background-repeat: no-repeat;
			border-radius: 0;
			color: #000000
		}

		.bee-row-1 .bee-col-1 {
			padding: 20px 10px 20px 20px;
			display: flex;
			flex-direction: column;
			justify-content: center
		}

		.bee-row-1 .bee-col-2 {
			padding-bottom: 20px;
			padding-left: 10px;
			padding-top: 20px;
			display: flex;
			flex-direction: column;
			justify-content: center
		}

		.bee-row-1 .bee-col-2 .bee-block-1 {
			color: #000000;
			font-size: 16px;
			text-align: right
		}

		.bee-row-2 .bee-col-1,
		.bee-row-6 .bee-col-1,
		.bee-row-7 .bee-col-1,
		.bee-row-9 .bee-col-1 {
			padding-bottom: 5px;
			padding-top: 5px
		}

		.bee-row-3 .bee-col-1,
		.bee-row-4 .bee-col-1,
		.bee-row-5 .bee-col-1 {
			padding: 20px
		}

		.bee-row-3 .bee-col-1 .bee-block-1,
		.bee-row-4 .bee-col-1 .bee-block-2,
		.bee-row-5 .bee-col-1 .bee-block-2 {
			padding: 10px;
			text-align: center;
			width: 100%
		}

		.bee-row-4 .bee-col-1 .bee-block-1,
		.bee-row-5 .bee-col-1 .bee-block-1,
		.bee-row-7 .bee-col-1 .bee-block-1,
		.bee-row-8 .bee-col-1 .bee-block-3 li,
		.bee-row-8 .bee-col-1 .bee-block-5,
		.bee-row-8 .bee-col-1 .bee-block-6 {
			padding: 10px
		}

		.bee-row-8 .bee-col-1 {
			padding: 30px 20px
		}

		.bee-row-8 .bee-col-1 .bee-block-1 {
			padding-bottom: 10px;
			width: 100%
		}

		.bee-row-8 .bee-col-1 .bee-block-2 {
			padding: 10px;
			text-align: center
		}

		.bee-row-8 .bee-col-1 .bee-block-3 {
			color: #444a5b;
			font-size: 14px;
			text-align: center
		}

		.bee-row-8 .bee-col-1 .bee-block-4 {
			padding-bottom: 5px
		}

		.bee-row-9 .bee-row-content {
			color: #000000
		}

		.bee-row-1 .bee-col-2 .bee-block-1 li {
			padding: 5px 20px
		}

		.bee-row-1 .bee-col-2 .bee-block-1 li a {
			color: #000000
		}

		.bee-row-8 .bee-col-1 .bee-block-4 {
			color: #444a5b;
			direction: ltr;
			font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
			font-size: 14px;
			font-weight: 400;
			letter-spacing: 0;
			line-height: 180%;
			text-align: center
		}

		.bee-row-8 .bee-col-1 .bee-block-4 a {
			color: #7747ff
		}

		.bee-row-8 .bee-col-1 .bee-block-4 p:not(:last-child),
		.bee-row-8 .bee-col-1 .bee-block-6 p:not(:last-child) {
			margin-bottom: 16px
		}

		.bee-row-8 .bee-col-1 .bee-block-3 li a {
			color: #444a5b
		}

		@media (max-width:768px) {
			img.bee-fullwidthOnMobile {
				max-width: none !important
			}

			.bee-menu ul.with-bee-hamburger {
				display: none;
				padding: 5px 0;
				position: relative;
				top: -4px
			}

			.bee-menu ul.with-bee-hamburger li {
				display: block;
				text-align: center
			}

			.bee-menu ul.with-bee-hamburger li a {
				text-decoration: none
			}

			.bee-menu ul.with-bee-hamburger span {
				display: none
			}

			#bee-hamburger-memu-r0c1m0:checked~ul,
			.bee-row-content:not(.no_stack) {
				display: block
			}

			.bee-row-1 .bee-col-1 {
				padding: 30px 20px 10px !important
			}

			.bee-row-1 .bee-col-2 {
				padding: 10px 20px 30px !important
			}

			.bee-row-3 .bee-col-1,
			.bee-row-4 .bee-col-1,
			.bee-row-5 .bee-col-1 {
				padding: 20px !important
			}

			.bee-row-1 .bee-col-1 .bee-block-1 img {
				float: none !important;
				margin: 0 auto !important
			}

			.bee-row-1 .bee-col-2 .bee-block-1 .bee-hamburger-controls,
			.bee-row-8 .bee-col-1 .bee-block-3 .bee-hamburger-controls {
				width: 36px;
				height: 36px;
				background-color: #7747ff;
				border-radius: 0
			}

			.bee-row-1 .bee-col-2 .bee-block-1 .bee-hamburger-controls span,
			.bee-row-8 .bee-col-1 .bee-block-3 .bee-hamburger-controls span {
				width: 18px;
				height: 18px
			}

			.bee-row-1 .bee-col-2 .bee-block-1 .bee-hamburger-controls span.bee-hamburger-open,
			.bee-row-8 .bee-col-1 .bee-block-3 .bee-hamburger-controls span.bee-hamburger-open {
				background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjY0IiB2aWV3Qm94PSIwIDAgNjQgNjQiIHdpZHRoPSI2NCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjZmZmZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxyZWN0IGhlaWdodD0iMTIiIHJ4PSI2IiB3aWR0aD0iNjQiLz48cmVjdCBoZWlnaHQ9IjEyIiByeD0iNiIgd2lkdGg9IjY0IiB5PSI1MiIvPjxyZWN0IGhlaWdodD0iMTIiIHJ4PSI2IiB3aWR0aD0iNjQiIHk9IjI2Ii8+PC9nPjwvc3ZnPg==");
				transform: translate(-50%, -50%) scaleY(1)
			}

			.bee-row-1 .bee-col-2 .bee-block-1 .bee-hamburger-controls span.bee-hamburger-close,
			.bee-row-8 .bee-col-1 .bee-block-3 .bee-hamburger-controls span.bee-hamburger-close {
				background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjY0IiB2aWV3Qm94PSIwIDAgNjQgNjQiIHdpZHRoPSI2NCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjZmZmZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxyZWN0IGhlaWdodD0iMTIiIHJ4PSI2IiB0cmFuc2Zvcm09Im1hdHJpeCgtLjcwNzEwNjc4IC0uNzA3MTA2NzggLjcwNzEwNjc4IC0uNzA3MTA2NzggMzEuOTkxMzc4IDc3LjIzNDAxOSkiIHdpZHRoPSI4MiIgeD0iLTkuMDA4NjIyIiB5PSIyNS45OTEzNzgiLz48cmVjdCBoZWlnaHQ9IjEyIiByeD0iNiIgdHJhbnNmb3JtPSJtYXRyaXgoLS43MDcxMDY3OCAuNzA3MTA2NzggLS43MDcxMDY3OCAtLjcwNzEwNjc4IDc3LjgxOTgwNiAzMi4yMzQwMTkpIiB3aWR0aD0iODIiIHg9Ii04Ljc2NTk4MSIgeT0iMjYuMjM0MDE5Ii8+PC9nPjwvc3ZnPg==");
				transform: translate(-50%, -50%) scaleY(0)
			}

			.bee-row-1 .bee-col-2 .bee-block-1 ul.with-bee-hamburger,
			.bee-row-8 .bee-col-1 .bee-block-3 ul.with-bee-hamburger {
				background-color: #7747ff
			}

			.bee-row-1 .bee-col-2 .bee-block-1 ul.with-bee-hamburger li,
			.bee-row-1 .bee-col-2 .bee-block-1 ul.with-bee-hamburger li a,
			.bee-row-8 .bee-col-1 .bee-block-3 ul.with-bee-hamburger li,
			.bee-row-8 .bee-col-1 .bee-block-3 ul.with-bee-hamburger li a {
				color: #ffffff
			}

			#bee-hamburger-memu-r0c1m0:checked~.bee-hamburger-controls .bee-hamburger-open {
				transform: translate(-50%, -50%) scaleY(0)
			}

			#bee-hamburger-memu-r0c1m0:checked~.bee-hamburger-controls .bee-hamburger-close {
				transform: translate(-50%, -50%) scaleY(1)
			}

			.bee-row-1 .bee-col-2 .bee-block-1,
			.bee-row-8 .bee-col-1 .bee-block-3 {
				text-align: center !important
			}

			.bee-row-8 .bee-col-1 .bee-block-4 {
				padding: 10px 0 0 !important
			}
		}

		.bee-row-8 .bee-col-1 .bee-block-6 {
			color: #101112;
			direction: ltr;
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 0;
			line-height: 120%;
			text-align: center
		}

		.bee-row-8 .bee-col-1 .bee-block-6 a {
			color: #7747FF
		}
	